rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /remeras/{remeraId} {
      allow read: if true;
      allow create, update, delete: if request.auth != null
        && request.auth.token.email == "austinscor12@gmail.com";
    }
  }
}
